<div>
    <h2 data-translate="compranetApp.persona.home.title">Personas</h2>
    <hr class="red" />
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="persona.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span data-translate="compranetApp.persona.home.createLabel">
                        Create new Persona
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <div class="pull-right">
                    <form name="searchForm" class="form-inline">
                        <div class="form-group">
                            <div class="form-group-icon">
                                <input type="text" placeholder="{{ 'compranetApp.persona.home.search' | translate }}"
                                    id="searchQuery" class="form-control" required="true" value="" id="input-simple-search"
                                    ng-model="vm.searchQuery">
                                <button type="button" class="blue-right btn" id="btn-simple-search" ng-click="vm.search(vm.searchQuery)">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="blue-right btn" ng-if="vm.currentSearch" ng-click="vm.clear()">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--<div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right">

                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'compranetApp.persona.home.search' | translate }}">
                        <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
    <br />
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre"><span data-translate="compranetApp.persona.nombre">Nombre</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="edad"><span data-translate="compranetApp.persona.edad">Edad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sueldo"><span data-translate="compranetApp.persona.sueldo">Sueldo</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="impuesto"><span data-translate="compranetApp.persona.impuesto">Impuesto</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activo"><span data-translate="compranetApp.persona.activo">Activo</span> <span
                            class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fechaCreacion"><span data-translate="compranetApp.persona.fechaCreacion">FechaCreacion</span>
                        <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="foto"><span data-translate="compranetApp.persona.foto">Foto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="persona in vm.personas track by persona.id">
                    <td><a ui-sref="persona-detail({id:persona.id})">{{persona.id}}</a></td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.edad}}</td>
                    <td>{{persona.sueldo}}</td>
                    <td>{{persona.impuesto}}</td>
                    <td>{{persona.activo}}</td>
                    <td>{{persona.fechaCreacion | date:'mediumDate'}}</td>
                    <td>
                        <a ng-if="persona.foto" ng-click="vm.openFile(persona.fotoContentType, persona.foto)"
                            data-translate="entity.action.open">open</a>
                        <span ng-if="persona.foto">{{persona.fotoContentType}}, {{vm.byteSize(persona.foto)}}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" ui-sref="persona-detail({id:persona.id})" class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit" ui-sref="persona.edit({id:persona.id})" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit" ui-sref="persona.delete({id:persona.id})" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page"
            ng-change="vm.transition()"></uib-pagination>
    </div>
</div>